// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define SYM 1
#define NUM 2
#define NAV 3
#define FUN 4




&caps_word {
    continue-list = <ESC>;
};



/ {
    
// ╭──────────────╮ ╭──────────────╮
// │ 0  1  2  3  4│ │ 5  6  7  8  9│
// │10 11 12 13 14│ │15 16 17 18 19│
// │20 21 22 23 24│ │25 26 27 28 29│
// ╰─────╮30 31 32│ │33 34 35╭─────╯
//       ╰────────╯ ╰────────╯

    combos {
        compatible = "zmk,combos";

        combo_caps {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
        };
        
        combo_lt {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <26 27>;
            bindings = <&kp LT>;
        };

        combo_gt {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <28 29>;
            bindings = <&kp GT>;
        };

        combo_dq {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <27 28>;
            bindings = <&kp DOUBLE_QUOTES>;
        };

        combo_minus {
            layers = <0>;
            timeout-ms = <75>;
            require-prior-idle-ms = <100>;
            key-positions = <8 9>;
            bindings = <&kp MINUS>;
        };
    };

    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <175>;
            bindings = <&kp>, <&kp>;
        };

        lp: layer_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            // retro-tap;
            bindings = <&mo>, <&kp>;
        };

        mp: mod_press {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        cs: ctrl_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp LC(LSHFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │          │  J       │  L       │  U       │  Y       │  ;       │
            &kp Q      &kp W      &kp F      &kp P      &kp B                 &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │          │  M       │  N       │  E       │  I       │   O      │
           &ht LGUI A &ht LALT R &ht LCTRL S &ht LSHFT T &ht LGUI G          &ht RGUI M    &ht RSHFT N &ht RCTRL E &ht LALT I &ht RGUI O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │          │  K       │  H       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp D      &kp V                 &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &kp ESC   &lp NAV SPACE  &lp SYM TAB       &lp SYM RET  &lp NUM BSPC &lp FUN DEL
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
        >;
        };

        sym_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│     {    │     &    │     *    │    (     │    }     │          │          │          │          │          │          │
            &kp LBRC   &kp AMPS  &kp ASTERISK   &kp LPAR  &kp RBRC            &none      &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     '    │     $    │     %    │    ^     │     +    │          │          │          │          │          │          │
            &kp SQT   &kp DLLR &kp PERCENT   &kp CARET  &kp PLUS             &kp RGUI  &kp RSHIFT   &kp RCTRL     &kp RALT  &kp RGUI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│     ~    │     !    │     @    │    #     │     |    │          │          │          │          │          │          │
            &kp TILDE  &kp EXCL  &kp AT     &kp HASH    &kp PIPE                 &none      &none      &none   &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                      │          │          │          │          │          │          │          │ 
                                  &kp LPAR   &kp RPAR   &kp UNDER            &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    [     │    7     │    8     │    9     │    ]     │          │          │          │          │          │          │
          &kp LBKT     &kp N7     &kp N8     &kp N9     &kp RBKT              &none       &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    :     │    4     │    5     │    6     │    +     │          │          │          │          │          │          │
          &kp SEMI     &kp N4      &kp N5      &kp N6   &kp PLUS              &kp RGUI  &kp RSHIFT   &kp RCTRL     &kp RALT  &kp RGUI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    ~     │    1     │    2     │    3     │    \     │          │          │          │          │          │          │
          &kp TILDE    &kp  N1     &kp  N2   &kp N3     &kp BACKSLASH         &none      &none      &none     &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &kp COMMA  &kp N0     &kp MINUS               &kp RET    &kp BSPC    &kp DEL
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │          │          │          │          │          │          │
          &none       &none      &none      &none       &none              &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_CLR
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │          │          │          │          │          │
          &kp LGUI    &kp LALT   &kp LCTRL  &kp LSHFT  &kp LGUI               &none      &kp LEFT   &kp DOWN   &kp up  &kp RIGHT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │          │          │          │          │          │
          &none       &none      &none      &none       &none                &none      &none      &kp PG_DN  &kp PG_UP      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &none      &none                   &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

        fun_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮          ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│   F10    │    F7    │    F8    │    F9    │          │          │          │          │          │          │          │
          &kp F10      &kp F7     &kp F8     &kp F9    &kp PSCRN              &none      &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│   F11    │    F4    │    F5    │    F6    │          │          │          │          │          │          │          │
          &kp F11      &kp F4     &kp F5     &kp F6     &kp SCROLLLOCK        &kp RGUI   &kp RSHIFT &kp RCTRL   &kp RALT   &kp RGUI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│   F12    │    F1    │    F2    │    F3    │          │          │          │          │          │          │          │
          &kp F12      &kp F1     &kp F2     &kp f3     &kp PAUSE_BREAK        &none      &none      &none     &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤          ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &none      &none                   &none      &none      &none
        //                      ╰──────────┴──────────┴──────────╯          ╰──────────┴──────────┴──────────╯
            >;
        };

    };
};